############################
# Visual Studio
############################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Build outputs
############################
**/bin/
**/obj/
**/out/

############################
# .NET
############################
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json

############################
# EF / Local DB
############################
*.mdf
*.ldf
*.db

############################
# WinForms / Desktop
############################
*.app
*.appinstaller

############################
# Logs
############################
*.log

############################
# OS
############################
Thumbs.db
.DS_Store

############################
# Rider / VSCode
############################
.idea/
.vscode/
